<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jaydb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">vallysoft</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.default_catalog">jaydb</property>

		<!-- <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">hr</property>
        <property name="hibernate.connection.password">hr</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.default_schema">HR</property>
        <property name="show_sql">true</property> -->
		
		<!-- <property name="format_sql">true</property>
		<property name="use_sql_comments">false</property> -->
		
<!-- 		<mapping class="com.tajiba.hibernate.association.one2one.stock.Stock" />
		<mapping class="com.tajiba.hibernate.association.one2one.stock.StockDetail" />
 -->
		<mapping resource="com/tajiba/hibernate/association/one2one/Stock.hbm.xml" />
		<!-- <mapping resource="com/tajiba/hibernate/association/one2one/StockDetail.hbm.xml"/> -->

		<!--mapping class="com.tajiba.hibernate.association.one2many.stock.Stock" />
		<mapping class="com.tajiba.hibernate.association.one2many.stock.StockDailyRecord" /-->
		<!-- <mapping resource="com/tajiba/hibernate/association/one2many/Stock.hbm.xml" />
		<mapping resource="com/tajiba/hibernate/association/one2many/StockDailyRecord.hbm.xml" /> -->
		
		<!-- <mapping class="com.tajiba.hibernate.association.many2many.stock.Stock" />
		<mapping class="com.tajiba.hibernate.association.many2many.stock.Category" /> -->
		<!-- <mapping resource="com/tajiba/hibernate/association/many2many/Stock.hbm.xml" />
		<mapping resource="com/tajiba/hibernate/association/many2many/Category.hbm.xml" />
		 -->
		
		
	</session-factory>
</hibernate-configuration>